/* *{
  border: .5px solid gray;
} */

.outline{
  border: .5px solid gray;
}

.space-between{
  justify-content: space-between;
}


body{
  font-family: Arial, Helvetica, sans-serif;
}

#schedule_a_tasting{
  background-color: #DCDCDC;
  padding-right: 0px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
    color: #45a2da;
}

h1{
    color: #45a2da;
    text-shadow: 2px 2px #DCDCDC;
}

footer{
  margin-top: 1em;
}

.nav_list{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.nav_list li{
    padding: 1em;
}



.btn{
  background-color: #45a2da;
  color: white;
  padding: 14px;
  border-radius: 5px;
  overflow: auto;
  display: inline-block;
}

.btn:hover{
  background-color: #99a2da;
  color: white;
}

.flex_container{
  display: flex;
}
